<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @automovile.model %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @automovile.brand %>
</p>

<p>
  <strong>Driverid:</strong>
  <%= @automovile.driverid %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @automovile.alias %>
</p>

<p>
  <strong>Code:</strong>
  <%= @automovile.code %>
</p>

<%= link_to 'Edit', edit_automovile_path(@automovile) %> |
<%= link_to 'Back', automoviles_path %>
